[Unit]
Description=%i Autostart Service
ConditionFileNotEmpty=/etc/%i/.autostart
After=dev-DH4.device


[Service]
Type=forking
ExecStart=/usr/local/bin/%i autostart --start
ExecStop=/usr/local/bin/%i -x

[Install]
WantedBy=dev-DH4.device


